@font-face {
  font-family:"Aspire";
  src: url(../fonts/AspireDemibold-YaaO.ttf);
}
@font-face {
  font-family:"Paint";
  src: url(../fonts/Paintingwithchocolate-K5mo.ttf);
}
@font-face {
  font-family:"Work";
  src: url(../fonts/WorkSans-Regular.ttf);
}
@font-face {
  font-family:"Paint";
  src: url(../fonts/Paintingwithchocolate-K5mo.ttf);
}
@font-face {
  font-family:"Paint";
  src: url(../fonts/Paintingwithchocolate-K5mo.ttf);
}
